<style>

/* Style the header */
.header {
  padding: 10px 16px;
  background: #fff;
  color: #2b303b;
  height:65px;
  position: relative;
  top:0;
}
.titlefont{
  font-size:2em; 
  margin-top: 10px;
}

</style>


<div class="header" id="myHeader">
  <div class="titlefont" style="float:left;cursor:HAND;" onclick="reload()"> {{toUpperCase title}}</div>
  {{!-- <div style="float:right">
  <form method="GET" action="/allDevice?search=true">
         <div class="box">
            <div class="container-1">
                <input type="search" name="search" id="search" placeholder="Search..." />
            </div>
         </div>
        
      </form>  
      </div>  --}}
</div>

 
   
